<?xml version="1.0"?>
<configuration>
   <appSettings>
      <add key="agent.path" value="C:\dev\projects\Monkey\Monkey.Agent\Monkey.HttpAgent\bin\Debug\Monkey.HttpAgent.exe"/>
   </appSettings>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
</configuration>
