
/Monkey.Agent/Monkey.Agent.suo
/Monkey.Agent/_ReSharper.Monkey.Agent
/Monkey.Agent/Monkey.Agent/bin
/Monkey.Agent/Monkey.Agent/obj
/Monkey.Agent/Monkey.HttpAgent/bin
/Monkey.Agent/Monkey.HttpAgent/obj